
@media(max-width:1250px) {
    .team-gallery {
        gap: 26px;
        margin: 21px;
    }

    .team-gallery img {
        width: 145px;
    }
}

@media(max-width:1150px) {
    .team-gallery .member {
        flex-direction: column;
        text-align: center;
    }
    .team-gallery .text {
        line-height: 2em;
        padding: 0 6px 30px 6px;
    }
}

@media(max-width:1072px) {
    .banner .text {
        font-size: 14px;
    }

    .banner .text button {
        padding: 6px;
    }

    .banner .image img {
        width: 229px;
    }

    .banner .image {
        top: 32%;
    }
}

@media(max-width:1040px){
    .fav-movies{
        flex-wrap: wrap;
    }
    .fav-movies .fav-movie-box {
        flex: 30%;
    }
}

@media(max-width:1025px){
    .contact-us{
        flex-direction: column;
        margin: 66px;
    }

    .contact-us .contact-detail {
        margin: 80px 73px 18px 53px;
    }
}

@media(max-width:1005px){
    .sample-gallery .video-div {
        flex: 30%;
    }
}

@media (max-width:992px) {

    /* header section */

    .header {
        flex-direction: column;
        padding: 20px;
    }

    .title {
        margin: -10px 0px 13px 0px;
    }

    .about-us .about-us-box{
        flex: 30%;
    }

    .youtube-videos {
        grid-template-columns: auto auto;
    }

    .youtube-videos .big-match:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .fight-videos {
        flex-direction: column;
    }

    .team-gallery {
        grid-template-columns: auto;
    }

    .team-gallery .text{
        padding: 0;
    }

    .cartoon-gallery .video-div {
        flex: 30%;
    }

    .social-account-gallery {
        display: grid;
        grid-template-columns: auto auto;
        gap: 35px;
        margin: 61px 70px;
    }
    .fav-person-gallery .fav-person-box{
        margin: 23px;
    }

    .footer{
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
    
}

@media(max-width:850px){
    .cartoon-gallery{
        flex-direction: column;
    }
}

@media(max-width:832px) {

    /* header section */

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header .title {
        margin: 0;
    }

    .header .navbar {
        display: none;
    }

    .header .menubar {
        display: block;
    }

    .banner .text {
        font-size: 12px;
    }

    .banner .image img {
        width: 206px;
        padding: 19px;
    }

    .where-learn-course .course-box img {
        padding: 23px;
       
    }
}

@media(max-width:770px){
    .social-account-gallery{
        margin: 61px 58px;
    }
}

@media(max-width:765px) {
    .banner .text {
        top: 50%;
        left: 10%;
        font-size: 1em;
    }

    .banner .image {
        top: 5%;
        right: 50%;
        transform: translateX(50%);
    }

    .banner .image img {
        width: 229px;
        padding: 24px;
        border-radius: 0;
    }

    .youtube-videos {
        grid-template-columns: auto;
    }

    .youtube-videos .big-match:nth-of-type(3) {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .lang-known i {
        font-size: 1.5em;
    }

    .lang-known .progress {
        font-size: 1em;
    }
    .where-learn-course .course-box{
        margin: 15px;
    }

}

@media(max-width:700px){
    .about-us {
        padding: 4px;
    }
}

@media(max-width:655px){
    .contact-us {
        margin: 20px 0;
    }
    .contact-us .contact-form {
        margin: 0 29px;
    }
}

@media(max-width:650px){
    .sample-gallery{
        flex-direction: column;
    }
}

@media(max-width:630px){
    .social-account-gallery{
        grid-template-columns: auto;
    }

}

@media(max-width:625px) and (min-width:472px) {
    .banner .text {
        font-size: 0.8em;
        left: 5%;
    }
}

@media(max-width:600px){
    .about-us {
        padding: 95px;
        flex-direction: column;
    }
}

@media(max-width:576px){
    .footer {
        grid-template-columns: auto;
        justify-content: center;
    }
}

@media(max-width:535px){
    .about-us{
        padding: 58px;
    }
}

@media(max-width:520px){
    .where-learn-course{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .where-learn-course .course-box{
        margin: 39px 76px;
    }
}

@media(max-width:471px) {
    .banner .text {
        top: 42%;
        left: 10%;
        font-size: 17px;
        line-height: 1.7;
    }

    .banner button {
        margin: 10px;
    }

    .about-us {
        padding: 15px;
    }
    
}

@media(max-width:380px) {
    .banner {
        text-align: center;
    }

    .where-learn-course .course-box{
        margin: 30px 76px;
    }
    .my-projects .project {   
        margin: 0px;
    }
    
}

@media(max-width:350px){
    .where-learn-course .course-box {
        margin: 18px 48px;
    }

}